/* imported css reset sheet */
@import url(reset.css);
/* footer attribution from front end mentor */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
/* font declaration for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
/* colour variables */
:root {
  /* primary colour */
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  /* Accent */
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  nav {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  nav img {
    width: 80px;
  }
  .nav_links a {
    text-decoration: none;
    color: var(--Very-Dark-Blue);
    padding: 0.5rem;
  }
  header {
    padding: 1.5rem;
  }
  .header_text_holder h1,
  p {
    text-align: center;
    margin: 1rem auto;
  }
  .subscribe_area input {
    width: 100%;
    padding: 0.5rem;
    margin: 0rem 0rem 0.5rem 0rem;
    border-radius: 5px;
    border: 1px solid black;
  }
  .subscribe_area button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    color: white;
    font-weight: 700;
    background-color: var(--Bright-Blue);
    box-shadow: 0px 3px 15px #0000003d;
    border-radius: 5px;
  }
  .production-section {
    padding: 1.5rem;
    background-repeat: no-repeat;
    margin-top: 4rem;
    background-color: var(--Light-Grayish-Blue);
  }
  .productivity_section {
    padding-top: 2.5rem;
  }
  .productivity_section p {
    text-align: left;
  }
  .productivity_section h3 {
    text-align: center;
  }
  .productivity_section a {
    display: flex;
    height: fit-content;
    width: fit-content;
    color: var(--Moderate-Cyan);
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    margin: 2rem auto 2rem auto;
    border-bottom: 1px solid var(--Moderate-Cyan);
  }
  .client_review {
    background-color: white;
    padding: 1.5rem;
    font-size: 10px;
    box-shadow: 0px 8px 13px 0px #00000029;
  }
  .profile_section {
    display: flex;
    height: fit-content;
    align-items: center;
  }
  .profile_section img {
    width: 40px;
    border-radius: 100%;
  }
  .profile_section p,
  h5 {
    margin: 0px;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 769px) {
  nav {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  nav img {
    width: 80px;
  }
  .nav_links a {
    text-decoration: none;
    color: var(--Very-Dark-Blue);
    padding: 0.5rem;
  }
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1.5rem;
  }
  .subscribe_area input {
    width: 100%;
    padding: 0.5rem;
    margin: 0rem 0rem 0.5rem 0rem;
    border-radius: 5px;
    border: 1px solid black;
  }
  .subscribe_area button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    color: white;
    font-weight: 700;
    background-color: var(--Bright-Blue);
    box-shadow: 0px 3px 15px #0000003d;
    border-radius: 5px;
  }
  .intro_content {
    padding: 0rem 4rem 0rem 0rem;
  }
  .subscribe_area {
    margin-top: 1rem;
  }
}
