/* imported css reset sheet */
@import url(reset.css);
/* footer attribution from front end mentor */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
h1, h2, h3, h4, h5, h6{
  
}